<ul>
  {%-for item in include.collection-%}
  <li>
    {%- assign label = item.title -%}
    {%- if label == nil or label == "posts by category" -%}
      {%- if item.post_list and item.post_list.category -%}
        {%- assign label = item.post_list.category | capitalize -%}
      {%- else -%}
        {%- assign label = "Untitled" -%}
      {%- endif -%}
    {%- endif -%}
  
    {%- if item.url -%}
  <a 
    href="{{ item.url }}" 
    {% if item.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}
  >
    {{ label }}
  </a>
{%- else -%}
  {{ label }}
{%- endif -%}

  </li>

    {%-if item.post_list-%}
      {%
        include post_list.html
          category=item.post_list.category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}
    {%-endif-%}

    {%-if item.entries-%}
      {%-include menu_item.html collection=item.entries-%}
    {%-endif-%}
  {%-endfor-%}
</ul>
